@import "../../../sass/reset", "../../../sass/variable";
.navbar{
    display: flex;
    justify-content:space-evenly;
    background-color: $cardNavBgColor;
    gap: 1rem;

    a{
        color: white;
        font-size: 2rem;
        text-decoration: none;
        padding: 1rem;
        &:hover{
            background-color: $backgroundColor;
            color: $cardNavBgColor
        }
    }
}